@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply   px-2 py-1 rounded-xl  transition duration-700 disabled:opacity-35 disabled:pointer-events-none
}

.btn.primary {
  @apply bg-sky-400 text-white hover:bg-sky-700
}

.btn.danger {
  @apply bg-red-400 text-white hover:bg-red-700

}
button.lg {
  @apply text-3xl
}
/*
ul > li {
  background-color: red;
}*/


.list-item {
  background-color: red;
}
